@using EvaluationFormsManager.Domain
@model CreateSectionVM

@{
    ViewData["Title"] = "CreateSection";
}

<h2>Create Section</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateSection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                @{
                    IList<SelectListItem> list = Enum.GetValues(typeof(EvaluationScale)).Cast<EvaluationScale>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }).ToList();

                    SelectList data = new SelectList(list, "Value", "Text");
                }
                <label asp-for="EvaluationScale" class="control-label"></label>
                @Html.DropDownListFor(model => model.EvaluationScale, data, new { @class = "form-control selectpicker dropdown dropdown_importance" })
            </div>

            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <label class="control-label">Evaluation Criteria</label>
                    <div id="jsGrid"></div>
                </div>

                <div class="panel-body text-center">
                    <button id="cancelAddCriterion" type="button" class="btn btn-default" style="display: none"> Cancel</button>
                    <button id="addCriterion" type="button" class="btn btn-success" style="display: normal"><i class="glyphicon glyphicon-plus"></i> Add Criterion</button>
                </div>
            </div>

            <div class="form-group text-right">
                <input type="submit" class="btn btn-primary btn--submit" value="Save Section"/>
                <a asp-action="Index" class="btn btn-default">Cancel</a>
            </div>

        </form>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>

    <script type="text/javascript">
        function close() {
            console.log("here");
            $('#jsGrid .jsgrid-grid-header .jsgrid-table .jsgrid-insert-row').css("display", "none");
        }

        $(function () {

            $("#jsGrid").jsGrid({
                width: "100%",

                inserting: false,
                editing: true,
                sorting: true,
                paging: false,

                controller: {
                    loadData: function (filter) {
                        var data = $.Deferred();

                        $.get("/Forms/Section/Criteria", function (response) {
                            data.resolve(JSON.parse(response));
                        });

                        return data.promise();
                    },

                    insertItem: function (item) {
                        $.post("/Forms/Section/Criteria/Create", { name: item.Name }).done(function () {
                            $('#addCriterion').show();
                            $('#cancelAddCriterion').hide();

                            $("#jsGrid").jsGrid("loadData");
                        });
                    },

                    updateItem: function (item) {
                        $.post("/Forms/Section/Criteria/Edit", { index: item.Index - 1, name: item.Name }).done(function () {
                            $("#jsGrid").jsGrid("loadData");
                        });
                    },

                    deleteItem: function (item) {
                        $.post("/Forms/Section/Criteria/Delete", { index: item.Index - 1 }).done(function () {
                            $("#jsGrid").jsGrid("loadData");
                        });
                    }
                },

                noDataContent: "No criteria!",
                autoload: true,

                fields: [
                    { name: "Index", type: "number", width: 50, editing: false, align: "center", title: "#"},
                    { name: "Name", type: "text", width: 200, validate: "required", title: "Name"},
                    { name: "ModifiedBy", type: "text", editing: false, align: "center", title: "Modified By"},
                    { name: "ModifiedDate", type: "text", editing: false, align: "center", title: "Last Modified"},
                    { name: "Action", type: "control", inserting: false}
                ]
            });

            $('#addCriterion').click(function () {
                $('#jsGrid .jsgrid-grid-header .jsgrid-table .jsgrid-insert-row').css("display", "table-row");

                for (let i = 0; i < 4; i++)
                    if (i != 1)
                        $('#jsGrid .jsgrid-grid-header .jsgrid-table .jsgrid-insert-row').find('td').eq(i).html("");

                $('#cancelAddCriterion').show();
                $('#addCriterion').hide();
            });

            $('#cancelAddCriterion').click(function () {
                $('#jsGrid .jsgrid-grid-header .jsgrid-table .jsgrid-insert-row').css("display", "none");

                $('#addCriterion').show();
                $('#cancelAddCriterion').hide();
            })
        })
    </script>
}
