@model CreateSectionVM

@{
    ViewData["Title"] = "Create Section";
}

<h2>Create Section</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateSection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @await Html.PartialAsync("_SectionEditPartial", Model)

            <div class="form-group text-right">
                <input type="submit" class="btn btn-primary btn--submit" value="Save Section"/>
                <a asp-action="CancelSection" class="btn btn-default">Cancel</a>
            </div>

        </form>
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="~/js/sectionEdit.js"></script>
}
