@model CreateSectionVM

@{
    ViewData["Title"] = "CreateSection";
}

<h2>Create Section</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CreateSection">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImportanceId" class="control-label"></label>
                @Html.DropDownListFor(
                    model => model.ImportanceId,
                    Model.ImportanceList,
                    new { @class = "form-control selectpicker dropdown dropdown_importance" })
            </div>

            <div class="form-group panel panel-default">
                <div class="panel-heading">
                    <label asp-for="Criteria" class="control-label">Evaluation Criteria</label>
                </div>

                <table id="criteriaTable" class="table panel-body">
                    <thead class="page-header">
                        <tr class="active">
                            <th class="col-md-1">#</th>
                            <th class="col-md-5">Name</th>
                            <th class="col-md-2">Modified By</th>
                            <th class="col-md-2">Last Changed</th>
                            <th class="col-md-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="criteriaTableBody">
                            @foreach (var criterion in Model.Criteria)
                            {
                                <tr>
                                    <td></td>
                                    <td class="criterion-name">@criterion.Name</td>
                                    <td>@criterion.ModifiedBy</td>
                                    <td>@criterion.ModifiedDate</td>
                                    <td>
                                        <a asp-action="" asp-route-id="" class="text-info">
                                            <i class="glyphicon glyphicon-edit icon icon-lg"></i>
                                        </a>
                                        <a asp-action="" asp-route-id="" class="text-danger">
                                            <i class="glyphicon glyphicon-trash icon icon-lg"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>

                <div class="panel-body text-center">
                    <button id="addCriterion" type="button" class="btn btn-success glyphicon-plus" data-toggle="modal" data-target="#myModal"> Add Criterion</button>
                </div>
            </div>

            <div class="form-group text-right">
                <input type="submit" class="btn btn-primary btn--submit" value="Save Section"/>
                <a asp-action="Index" class="btn btn-default">Cancel</a>
            </div>

        </form>

        @await Html.PartialAsync("_Criteria")
        
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

    <script type="text/javascript">

        function createCriteria(criterionJson) {
            $('#criteriaTableBody').html("");
            let criterionObjects = JSON.parse(criterionJson);

            for (let iterator = 0; iterator < criterionObjects.length; iterator++) {
                const newCriterion = $(
                    `<tr>
                        <td>${iterator + 1}</td >
                        <td class="criterion-name">${criterionObjects[iterator].Name}</td >
                        <td>${criterionObjects[iterator].ModifiedBy}</td>
                        <td>${criterionObjects[iterator].ModifiedDate}</td>
                        <td>
                            <a href="#" onclick="enterEditMode(event, ${iterator})" class="text-info"  data-toggle="modal" data-target="#myModal">
                                <i class="glyphicon glyphicon-edit icon icon-lg"></i>
                            </a>
                            <a href="#" onclick="deleteCriterion(event, ${iterator})" class="text-danger">
                                <i class="glyphicon glyphicon-trash icon icon-lg"></i>
                            </a>
                        </td>
                    </tr>`);

                $('#criteriaTableBody').append(newCriterion);
            }
        }

        function clearModalForm() {
            $('#modalTitle').html('');
            $('#criterionName').val('');
        }

        function deleteCriterion(event, index) {
            event.preventDefault();

            $.post('/Forms/DeleteCriteria', { index: index }, function (criterionJson) {

                if (criterionJson != "") {
                    createCriteria(criterionJson);
                }
            });
        }

        function enterEditMode(event, index) {
            event.preventDefault();
            $('#modalTitle').html("Edit Criterion");
            $('#myModal').data("index", index);

            const name = $(`#criteriaTableBody tr:eq(${index}) td.criterion-name`).html();
            $('#criterionName').val(name);
        }

        function createCriterion() {
            console.log("create");

            let data = $('#criterionName').val();

            $.post('/Forms/CreateCriteria', { name: data }, function (criterionJson) {
                if (criterionJson != "") {
                    createCriteria(criterionJson);
                }

                clearModalForm();
            });

        }

        function editCriterion() {
            console.log("edit");

            let data = $('#criterionName').val();
            let index = $('#myModal').data("index");

            $.post('/Forms/EditCriteria', { index: index, name: data }, function (criterionJson) {
                if (criterionJson != "") {
                    createCriteria(criterionJson);
                }

                clearModalForm();
            });
        }

        $(function () {

            $('#addCriterion').click(function () {
                $('#modalTitle').html("Create Criterion");
            });

            $('#modalClose').click(function () {
                clearModalForm();
            });

            $('#saveCriterion').click(function () {
                let mode = $('#modalTitle').html();

                if (mode == "Create Criterion")
                    createCriterion();
                else
                    editCriterion();
            });

        })
    </script>
}
